
/****** Colors ******/
$white: #eee8d6;
$dark-blue: #101068;
$yellow: #ffba00;
$blue: #0076a3;
$green: #548c27;
$red: #fe2d28;
$purple: #6d73c2;
$black: #000000;
$dark-gray: #151515;

/****** Variables ******/
$background-color: $blue;
$main-color: $dark-gray;
$main-font: "Open Sans", sans-serif;
$title-color: $white;
$title-font: "Bitter", serif;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$columns: 12;
